<!-- Project name (title) -->
<div class="form-group">
    <label class="form-label-bold" for="name">Title</label>
    <p class="form-hint">Name of the project</p>
    <input type="text" class="form-control" id="name" name="name" value="{{ project.name }}" required>
</div>

<!-- Location -->
<div class="form-group">
    <label class="form-label-bold" for="location">
        Location
        <span class="form-hint">
            Location of the team working on the project, e.g. London
        </span>
    </label>
    <input type="text" class="form-control" id="location" name="location" value="{{ project.location }}">
</div>

<!-- Customer -->
<div class="form-group">
    <label class="form-label-bold" for="customer">
        Customer
        <span class="form-hint">
            Name of our customer
        </span>
    </label>
    <input type="text" class="form-control" id="customer" name="customer" value="{{ project.customer }}">
</div>

<!-- Finished -->
<div class="form-group">
    <label class="form-label-bold" for="radio-inline-1">
        Finished
    </label>
    <fieldset class="inline">
        <span class="form-hint">
            Is the project finished?
        </span>
        <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="isFinished" value="true" 
                {{ "checked" if project.isFinished }}
            >
            Yes
        </label>
        <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="isFinished" value=""
                {{ "" if project.isFinished else "checked" }}
            >
            No
        </label>
    </fieldset>
</div>

<!-- Description -->
<div class="form-group">
    <label class="form-label-bold" for="description">
        Description
        <span class="form-hint">
            Description of the project
        </span>
    </label>
    <textarea class="form-control form-control-3-4" id="description" name="description" rows="7">{{ project.description }}</textarea>
</div>

<div class="form-group">
	<label class="form-label-bold" for="sector">
		Sector
		<span class="form-hint">
			Sector of the project
		</span>
	</label>
	<select id="sector" class="form-control sector" name="sector">
		{% for sectorType, details in sectorTypes %}
			<option value="{{ sectorType }}" {% if project.sector == sectorType %}selected{% endif %}>{{ details.label }}</option>
		{% endfor %}	
	</select>
</div>					

<div class="form-group">
	<label class="form-label-bold" for="department">
		Department
		<span class="form-hint">
			Department of the project
		</span>
	</label>
	<input type="text" class="form-control" id="department" name="department" value="{{ project.department }}">
</div>				

<div class="form-group">
	<label class="form-label-bold" for="agency">
		Agency
		<span class="form-hint">
			Agency of the project
		</span>
	</label>
	<input type="text" class="form-control" id="agency" name="agency" value="{{ project.agency }}">
</div>	
