<h2>Add a project</h2>

<form [formGroup]="myForm">

  Value: {{ myForm.value | json }}

  <hr>

  <div>
    <mat-form-field>
      <input matInput placeholder="Account" formControlName="account">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Project" formControlName="project">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Manager" formControlName="manager">
    </mat-form-field>
  </div>

  <h3>Project phase</h3>

  <div formGroupName="phases">

    <div formGroupName="alpha">

      Alpha

      <mat-form-field>
        <input matInput placeholder="Start Date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="End Date" formControlName="endDate">
      </mat-form-field>
    </div>

    <div formGroupName="beta">

      Beta

      <mat-form-field>
        <input matInput placeholder="Start Date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="End Date" formControlName="endDate">
      </mat-form-field>
    </div>

    <div formGroupName="betaToLive">

      Beta To Live

      <mat-form-field>
        <input matInput placeholder="Start Date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="End Date" formControlName="endDate">
      </mat-form-field>
    </div>

    <div formGroupName="live">

      Live

      <mat-form-field>
        <input matInput placeholder="Start Date" formControlName="startDate">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="End Date" formControlName="endDate">
      </mat-form-field>
    </div>

  </div>

  <h2>People</h2>
  <div formArrayName="people">

    <div *ngFor="let person of projectPeople.controls; let i=index" [formGroupName]="i">

      <mat-form-field>
        <input matInput placeholder="forename" formControlName="forename">
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="surname" formControlName="surname">
        </mat-form-field>

        <button mat-raised-button color="warn" (click)="deletePerson(i)">Remove</button>

    </div>

  </div>
  <button mat-raised-button color="primary" (click)="addPerson()">Add person</button>

</form>
