<h1>Add a project</h1>

<div>
  <label>Account
    <input [(ngModel)]="project.accountName" placeholder="accountName">
    </label>
</div>
<div>
  <label>Project
      <input [(ngModel)]="project.name" placeholder="name">
    </label>
  </div>
  <div>
  <label>Description
    <textarea [(ngModel)]="project.description" placeholder="description"></textarea>
  </label>
</div>
<div>
  <label>Department
    <input [(ngModel)]="project.department" placeholder="department">
  </label>
</div><div>
  <label>Agency
    <input [(ngModel)]="project.agency" placeholder="agency">
  </label>
</div>
<!--<div>
  <label>Sector
    <input [(ngModel)]="project.sector" placeholder="sector">
    <input type="radio"
       [(ng-model)]="project.sector"
       value="Private"
       ng-value="private">
       <input type="radio"
       [(ng-model)]="project.sector"
       value="Public"
       ng-value="public">
  </label>
</div>-->
<div>
  <button (click)="addProject(project)">Add project</button>
</div>
