{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">{{ project.name }} Health History</h1>
            <p>
                <a class="font-xsmall link-back" href="/projects/{{ project.id }}/{{ project.name | slugify }}/display-health">Back</a>
            </p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Health update history</h2>
            <table>
                <thead>
                    <tr>
                        <th colspan="2">&nbsp;</th>
                    </tr>
                </thead>
                {% for status in history %}
                <tr>
                    <td class="font-medium health-label-cell"><a name="{{ healthCheckTypes[status.type].label | title }}">  {{ healthCheckTypes[status.type].label | title }} </a>
                      <span class="health-block-small {{ status.status | lower }}">{{ status.status | title}}</span></td>
                    <td>
                      <p>{{ status.user.name }} {% if status.date %}, {{ convertDate(status.date) }} {% endif %}</p>
                      {% if status.comment %}<p class="font-small">{{ status.comment }}</p>{% endif %}
                      <p class="font-xsmall">{% if status.link.url %}<a href="{{ status.link.url }}" target="_blank">{{ status.link.name }}</a> {% endif %} </p>
                    </td>
                </tr>

                <!-- <tr>
                    <td>{{ types[status.type].label | title }}</td>
                    <td></td>
                    <td><p>{{ status.comment }}</p> {% if status.link.url %}<p class="font-xsmall">More detail: <a href="{{ status.link.url }}" target="_blank">{{ status.link.name }}</a></p>{% endif %}</td>
                    <td>{{ status.user.name }}{% if status.date %}, {{ convertDate(status.date) }} {% endif %}</td>
                </tr> -->
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% endblock %}
