{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <h1 class="form-title font-xlarge">Edit {{ person.name }}</h1>
            <p>
                <a class="font-xsmall" href="/projects/{{ projectId }}/{{ projectName | slugify }}/edit-client-team">Client team</a>
            </p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            {% include "includes/person-form.html" %}
        </section>
    </div>
</main>
{% endblock %} {% block body_end %} {{ super() }}
<script>
$("#person-form").submit(function(e) {
    e.preventDefault();

    var data = $('#person-form').serializeObject();

    $.ajax({
            type: "PUT",
            url: '/api/projects/{{ projectId }}/person/client/' + data.person.id,
            contentType: "application/json",
            data: JSON.stringify(data)

        })
        .done(function(response) {
            alert(JSON.stringify(response.messages[0]));
            window.location.href = '/projects/{{ projectId }}/{{ projectName | slugify }}/edit-client-team';
        })
        .fail(function(jqXHR) {
            alert('There was an error while updating person. ' + jqXHR.responseText);
        });
});
</script>
{% endblock %}
