{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <h1 class="form-title font-xlarge">{{ project.name }}</h1>
            
            <form class="form" id="projectForm">
                {% include "includes/project-form.html" %}
                <div class="form-group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %} {% block body_end %} {{ super() }}
<script>
$("#projectForm").submit(function(e) {
    e.preventDefault();
    $.ajax({
            type: "PUT",
            url: '/api/projects/{{ project.id }}',
            contentType: "application/json",
            data: JSON.stringify($('#projectForm').serializeObject())
        })
        .done(function(response) {
            //alert(JSON.stringify(response.messages[0]));
            window.location.href = '/projects/{{ project.id }}/{{ project.name | slugify }}';
        })
        .fail(function(jqXHR) {
            //alert('There was an error updating project. Details: \n\n' + jqXHR.responseText);
        });
});

</script>
{% endblock %}
