{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <h1 class="form-title font-xlarge">Change {{ projectName }} links</h1>
            <p>
                <a class="font-xsmall" href="/projects/{{ projectId }}/{{ projectName | slugify }}/"> Back to project page</a>
            </p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>What is it?</th>
                            <th>URL</th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    {% for resource in resources %}
                    <tr>
                        <td>{{ resource.name }}</td>
                        <td><a href="{{ resource.url }}">{{ resource.url }}</a></td>
                        <td>
                            <a href="#" onclick="removeResource('{{ resource.id }}')">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                            <a href="/projects/{{ projectId }}/{{ projectName | slugify }}/resource/{{ resource.id }}/edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr id="add-btn-row">
                        <td colspan="4">
                            <a href="#" onclick="addResource()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <div id="add-new-resource" style="display: none;">
                <form action="#" method="POST" class="form" id="add-new-resource-form">
                    <div class="form-group">
                        <label class="form-label-bold" for="name">What are you Linking to?</label>
                        <p class="form-hint">Description for the link</p>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label class="form-label-bold" for="url">URL</label>
                        <p class="form-hint">Web address of the link</p>
                        <input type="url" class="form-control" id="url" name="url">
                    </div>
                    <div class="form-group">
                        <input id="submit-btn" type="submit" class="button" value="Submit">
                    </div>
                </form>
            </div>
        </section>
    </div>
</main>
{% endblock %} {% block body_end %} {{ super() }}
<script>
$("#add-new-resource-form").submit(function(e) {
    e.preventDefault();

    var data = $('#add-new-resource-form').serializeObject();

    $.ajax({
            type: "POST",
            url: '/api/projects/{{ projectId }}/resource',
            contentType: "application/json",
            data: JSON.stringify(data)

        })
        .done(function(response) {
            //alert(JSON.stringify(response.messages[0]));
            location.reload();
        })
        .fail(function(jqXHR) {
            //alert('There was an error adding link. ' + jqXHR.responseText);
            $("#submit-btn").prop('disabled', false);
        });
    $("#submit-btn").prop('disabled', true);
});

function addResource() {
    $('#add-new-resource').css('display', 'block');
    $('#add-btn-row').css('display', 'none');
}

function removeResource(resourceId) {
    $.ajax({
            type: "DELETE",
            url: '/api/projects/{{ projectId }}/resource/' + resourceId,
            contentType: "application/json"
        })
        .done(function(response) {
            //alert(JSON.stringify(response.messages[0]));
            location.reload();
        })
        .fail(function(jqXHR) {
            //alert('There was an error removing link. ' + jqXHR.responseText);
        });
}
</script>
{% endblock %}
