{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
 <div class="grid-row">
        <section class="column-two-thirds">
            &nbsp;
            <h1 class="form-title font-xlarge">{{ project.name }} Additional Info</h1>
			<p>
                <a class="font-xsmall" href="/projects/{{project.id }}/{{ project.name | slugify }}">Project page</a>
            </p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <form class="form" id="projectMetadataForm">
		
				<div class="form-group">
					<label class="form-label-bold" for="tags">Project Tags</label>
					<p class="form-hint">Tags to enable searching</p>
					<input type="text" class="form-control" id="tags" name="tags" value="{{ project.projectMetadata.tags }}">
				</div>
			
                <div class="form-group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %} {% block body_end %} {{ super() }}
<script>

$('#tags').tagsInput();


$("#projectMetadataForm").submit(function(e) {
    e.preventDefault();
    var formData = JSON.stringify($('#projectMetadataForm').serializeObject());
    $.ajax({
            type: "PUT",
            url: '/api/projects/{{ project.id }}/project-metadata',
            contentType: "application/json",
            data: formData
        })
        .done(function(response) {
            //alert(JSON.stringify(response.messages[0]));
            window.location.href = '/projects/{{ project.id }}/{{ project.name | slugify }}';
        })
        .fail(function(jqXHR) {
            //alert('There was an error updating project metadata .Details: \n\n' + jqXHR.responseText);
        });
});

</script>
{% endblock %}
