{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <h1 class="form-title font-xlarge">Client {{ projectName }} team</h1>
            <p>
                <a class="font-xsmall" href="/projects/{{ projectId }}/{{ projectName | slugify }}">Project page</a>
            </p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <div>
                <table>
                    <thead>
                        <tr>
                            <td>Role</td>
                            <td>Name</td>
                            <td>
                                <!-- column for "more" buttons -->
                            </td>
                            <td>
                                <!-- column for edition buttons -->
                            </td>
                        </tr>
                    </thead>
                    {% for teamMember in teamMembers %}
                    <tr>
                        <td>{{ teamMember.role}}</td>
                        <td>{{ teamMember.name }}</td>
                        <td data-collapsable-parent="team-member-{{ loop.index }}">[+]</td>
                        <td>
                            <a href="#" onclick="removeTeamMember('{{ teamMember.id }}')" style="margin-right:10px;"><i class="fa fa-times" aria-hidden="true"></i></a>
                            <a href="/projects/{{ projectId }}/{{ projectName | slugify }}/person/client/{{ teamMember.id }}/edit">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td data-collapsable-child="team-member-{{ loop.index }}" colspan="4">
                            <div class="grid-row">
                                <section class="column-half">
                                    {% if teamMember.primaryLocation %}
                                    <p>Primary location: {{ teamMember.primaryLocation }} </p>
                                    {% endif %} {% if teamMember.secondaryLocation %}
                                    <p>Secondary location: {{ teamMember.secondaryLocation}} </p>
                                    {% endif %}
                                </section>
                                <section class="column-half">
                                    {% if teamMember.email %}
                                    <p>Email: <a href="mailto:{{ teamMember.email }}">{{ teamMember.email }}</a></p>
                                    {% endif %} {% if teamMember.mobile %}
                                    <p>Mobile: {{ teamMember.mobile}} </p>
                                    {% endif %} {% if teamMember.slack %}
                                    <p>Slack: {{ teamMember.slack}} </p>
                                    {% endif %} {% if teamMember.skype %}
                                    <p>Skype: {{ teamMember.skype }} </p>
                                    {% endif %}
                                </section>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr id="add-btn-row">
                        <td colspan="4">
                            <a href="#" onclick="addTeamMember()">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <div id="add-new-member" style="display: none;">
                {% include "includes/person-form.html" %}
            </div>
        </section>
    </div>
</main>
{% endblock %} {% block body_end %} {{ super() }}
<script>
$("#person-form").submit(function(e) {
    e.preventDefault();

    var data = $('#person-form').serializeObject();

    $.ajax({
            type: "POST",
            url: '/api/projects/{{ projectId }}/person/client',
            contentType: "application/json",
            data: JSON.stringify(data.person)
        })
        .done(function(response) {
            alert(JSON.stringify(response.messages[0]));
            location.reload();
        })
        .fail(function(jqXHR, textStatus) {
            alert('There was an error adding person. ' + jqXHR.responseText);
            $("#submit-btn").prop('disabled', false);
        });
    $("#submit-btn").prop('disabled', true);
});

function addTeamMember() {
    $('#add-new-member').css('display', 'block');
    $('#add-btn-row').css('display', 'none');
}

function removeTeamMember(personId) {
    var r = confirm("Are you sure you want to remove this person?");
    if (r == false) {
        return;
    }

    $.ajax({
            type: "DELETE",
            url: '/api/projects/{{ projectId }}/person/client/' + personId,
            contentType: "application/json"
        })
        .done(function(response) {
            alert(JSON.stringify(response.messages[0]));
            location.reload();
        })
        .fail(function(jqXHR) {
            alert('There was an error adding person. ' + jqXHR.responseText);
        });
}
</script>
{% endblock %}
