{% extends "layout.html" %}

{% block pageTitle %}
Edit team members
{% endblock %}

{% block content %}

<main id="content" role="main">

    <div class="grid-row">
        <section style="padding-top:30px;">

            <h1 class="form-title heading-large">
                Edit Kainos team
            </h1>

            <div class="grid-row">
                <section class="column-half">
                    <h2 class="heading-medium">Edit Kainos team members for {{ projectName }}</h2>
                    <div>
                        <table>
                            <thead>
                            <td>Role</td>
                            <td>Name</td>
                            <td><!-- column for "more" buttons --></td>
                            <td><!-- column for edition buttons --></td>
                            </thead>
                            {% for teamMember in teamMembers %}
                            <tr>
                                <td>{{ teamMember.role}}</td>
                                <td>{{ teamMember.name }}</td>
                                <td data-collapsable-parent="team-member-{{ loop.index }}">[+]</td>
                                <td>
                                    <a href="#" onclick="removeTeamMember('{{ teamMember.id }}')">remove</a>
                                    <a href="/projects/{{ projectId }}/person/team/{{ teamMember.id }}/edit">edit</a>
                                </td>
                            </tr>
                            <tr>
                                <td data-collapsable-child="team-member-{{ loop.index }}" colspan="4">
                                    <div class="grid-row">
                                        <section class="column-half">
                                            <p>Primary location: {{ teamMember.primaryLocation }} </p>
                                            {% if teamMember.secondaryLocation %}
                                            <p>Secondary location: {{ teamMember.secondaryLocation}} </p>
                                            {% endif %}
                                        </section>
                                        <section class="column-half">
                                            {% if teamMember.email %}
                                            <p>Email: <a href="mailto:{{ teamMember.email }}">{{ teamMember.email }}</a></p>
                                            {% endif %}

                                            {% if teamMember.mobile %}
                                            <p>Mobile: {{ teamMember.mobile}} </p>
                                            {% endif %}

                                            {% if teamMember.slack %}
                                            <p>Slack: {{ teamMember.slack}} </p>
                                            {% endif %}

                                            {% if teamMember.skype %}
                                            <p>Skype: {{ teamMember.skype }} </p>
                                            {% endif %}
                                        </section>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr id="add-new-member" style="display: none;">
                                <td colspan="4">
                                    <form action="#" method="POST" class="form" id="add-new-member-form">
                                        <div class="grid-row">
                                            <section>
                                                <div class="form-group">
                                                    <label class="form-label-bold" for="name">Name</label>
                                                    <p class="form-hint">Person name</p>
                                                    <input type="text" class="form-control" id="name" name="name">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label-bold" for="role">Role</label>
                                                    <p class="form-hint">Person role</p>
                                                    <input type="text" class="form-control" id="role" name="role">
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label-bold" for="email">Email</label>
                                                    <p class="form-hint">Person email</p>
                                                    <input type="email" class="form-control" id="email" name="email">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label-bold" for="mobile">Mobile</label>
                                                    <p class="form-hint">Person mobile</p>
                                                    <input type="text" class="form-control" id="mobile" name="mobile">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label-bold" for="slack">Slack</label>
                                                    <p class="form-hint">Person slack ID</p>
                                                    <input type="text" class="form-control" id="slack" name="slack">
                                                </div>

                                                <div class="form-group">
                                                    <label class="form-label-bold" for="skype">Skype</label>
                                                    <p class="form-hint">Person Skype ID</p>
                                                    <input type="text" class="form-control" id="skype" name="skype">
                                                </div>
                                            </section>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" class="button" value="Submit">
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            <tr id="add-btn-row">
                                <td colspan="4"><a href="#" onclick="addTeamMember()">add</a></td>
                            </tr>
                        </table>
                    </div>
                </section>

            </div>
        </section>
    </div>
</main>
{% endblock %}

{% block body_end %}
{{ super() }}
<script>
    $("#add-new-member-form").submit(function(e) {
        e.preventDefault();

        var data = $('#add-new-member-form').serializeObject();

        $.ajax({
            type: "POST",
            url: '/api/projects/{{ projectId }}/person/team',
            contentType: "application/json",
            data: JSON.stringify(data)

        })
        .done(function(response) {
            alert(JSON.stringify(response.messages[0]));
            location.reload();
        })
        .fail(function(jqXHR, textStatus) {
            alert('There was an error adding person. ' + jqXHR.responseText);
        });
    });

    function addTeamMember() {
        $('#add-new-member').css('display', 'block');
        $('#add-btn-row').css('display', 'none');
    }

    function removeTeamMember(personId) {
        $.ajax({
            type: "DELETE",
            url: '/api/projects/{{ projectId }}/person/team/' + personId,
            contentType: "application/json"
        })
        .done(function(response) {
            alert(JSON.stringify(response.messages[0]));
            location.reload();
        })
        .fail(function(jqXHR, textStatus) {
            alert('There was an error adding person. ' + jqXHR.responseText);
        });
    }
</script>
{% endblock %}
