{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <h1 class="form-title font-xlarge">Edit {{ resource.name }} Link</h1>
            <p>
                <a class="font-xsmall" href="/projects/{{ projectId }}/{{ projectName | slugify }}/edit-resources"> Useful links</a>
            </p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <form action="#" class="form" id="resource-form">
                <input type="hidden" class="form-control" id="resourceId" name="resource[id]" value="{{ resource.id }}">
                <div class="form-group">
                    <label class="form-label-bold" for="name">Name</label>
                    <p class="form-hint">Link name</p>
                    <input type="text" class="form-control" id="name" name="resource[name]" value="{{ resource.name }}">
                </div>
                <div class="form-group">
                    <label class="form-label-bold" for="url">URL</label>
                    <p class="form-hint">Web address</p>
                    <input type="url" class="form-control" id="url" name="resource[url]" value="{{ resource.url }}">
                </div>
                <div class="form-group">
                    <input type="submit" class="button" value="Submit">
                </div>
            </form>
        </section>
    </div>
</main>
{% endblock %} {% block body_end %} {{ super() }}
<script>
$("#resource-form").submit(function(e) {
    e.preventDefault();

    var data = $('#resource-form').serializeObject();

    $.ajax({
            type: "PUT",
            url: '/api/projects/{{ projectId }}/resource/' + data.resource.id,
            contentType: "application/json",
            data: JSON.stringify(data)

        })
        .done(function(response) {
            alert(JSON.stringify(response.messages[0]));
            window.location.href = '/projects/{{ projectId }}/edit-resource';
        })
        .fail(function(jqXHR) {
            alert('There was an error updating the link. ' + jqXHR.responseText);
        });
});
</script>
{% endblock %}
