{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <p class="font-large">{{ data.name }}</p>
            <p class="location font-xsmall">{{ data.location }}</p>
            <p>{{ data.description }}</p>
            <p><a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit">Edit project details</a> <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/display-health">Manage project health</a></p>
        </section>
        <section class="column-third">
            <p class="phase {{ data.phase | lower }}">phase <strong>{{ data.phase | title }}</strong></p>
            <p class="health {{ data.health.overall.status | lower }}">health <strong>{{ data.health.overall.status | title }}</strong></p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <p class="font-medium">Useful Links</p>
            <p>            
                {% if data["resources"] %}
                <ul class="link-list">
                    {% for resource in data["resources"] %}
                    <li><a href="{{ resource['url'] }}">{{ resource["name"] }}</a></li> {% endfor %}
                </ul>
                {% endif %}
            </p>
            <p class="font-xsmall"> <a href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-resources">Manage links</a></p>
        </section>
    </div>
    <div class="grid-row">
        <!--MACRO FOR PEOPLE TABLE-->
        {% macro peopleTable(peopleData, teamName) %}
        <div>
            {% if peopleData %}
            <table>
                <thead>
                    <tr>
                        <td>Role</td>
                        <td>Name</td>
                        <td>
                            <!-- column for "more" buttons -->
                        </td>
                    </tr>
                </thead>
                {% for teamMember in peopleData %}
                <tr>
                    <td>{{ teamMember.role}}</td>
                    <td>{{ teamMember.name }}</td>
                    <td data-collapsable-parent="{{ teamName + loop.index }}" class="clickable">[+]</td>
                </tr>
                <tr>
                    <td data-collapsable-child="{{ teamName + loop.index }}" colspan="3">
                        <div class="grid-row">
                            <section class="column-half">
                                {% if teamMember.primaryLocation %}
                                <p>Primary location: {{ teamMember.primaryLocation }} </p>
                                {% endif %} {% if teamMember.secondaryLocation %}
                                <p>Secondary location: {{ teamMember.secondaryLocation}} </p>
                                {% endif %}
                            </section>
                            <section class="column-half">
                                {% if teamMember.email %}
                                <p>Email: <a href="mailto:{{ teamMember.email }}">{{ teamMember.email }}</a></p>
                                {% endif %} {% if teamMember.mobile %}
                                <p>Phone num: {{ teamMember.mobile}} </p>
                                {% endif %} {% if teamMember.slack %}
                                <p>Slack: {{ teamMember.slack}} </p>
                                {% endif %} {% if teamMember.skype %}
                                <p>Skype: {{ teamMember.skype }} </p>
                                {% endif %}
                            </section>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        {% endmacro %}
        <!--MACRO FOR PEOPLE TABLE-->
        <section class="column-half">
            <p class="font-medium">Kainos team <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-our-team">Add team members</a></p>
            {{ peopleTable(data["ourTeam"], "Kainos") }}
            <p></p>
        </section>
        <section class="column-half">
            <p class="font-medium">Client team <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-client-team">Add team members</a></p>
            {{ peopleTable(data["clientTeam"], "Client") }}
            <p></p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-third">
            <p class="font-mdeium">Project history</p>
            <div class="phase-history">
                {% for phase in phase_order %} {% if data["phase-history"][phase].length %}
                <div class="phase-history-item border-{{phase}} txt-{{phase}}">
                    <h3><a href="#" class="tag tag-history {{phase}}">{{phase}}</a></h3> {% for item in data["phase-history"][phase] %}
                    <p>{{ item.label }} &mdash; {{item.date}}</p>
                    {% endfor %}
                </div>
                {% endif %} {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
