{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">	  
		  <table>
              
		   <tr>
                    <td>
							<h1 class="heading-xlarge">{{ data.name }}&nbsp;<a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit">edit</a></h1>
							<p>{{ data.description }}</p>
					</td>
					<td>
						<!-- column for "more" buttons -->
					</td>
                    <td data-collapsable-parent="{{ data.name }}" class="clickable"><i class="fa fa-plus-square-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td data-collapsable-child="{{ data.name }}" colspan="3">
                        <div class="grid-row">
                            <section class="column-half">
                                {% if data.sector %}
                                <p>Sector: {{ sectorTypes[data.sector].label  }} </p>
                                {% endif %} 
								{% if data.department %}
                                <p>Department: {{ departmentTypes[data.department].label }} </p>
                                {% endif %}
								{% if data.agency %}
                                <p>Agency: {{ agencyTypes[data.agency].label }} </p>
                                {% endif %}
								{% if data.isExemplar %}
                                <p>Exemplar: Y </p>
                                {% endif %}
								{% if data.isCaseStudy %}
                                <p>Case Study: Y </p>
                                {% endif %}
								{% if data.isDeliveryPartner %}
                                <p>Delivery Partner: Y </p>
                                {% endif %}
								{% if data.isMultiSupplier %}
                                <p>Multi-Supplier: Y </p>
                                {% endif %}
                            </section>
                            <section class="column-half">
                                {% if data.isConsultancy %}
                                <p>Consultancy: Y </p>
                                {% endif %}
								{% if data.isColocated %}
                                <p>Co-located: Y </p>
                                {% endif %}
								{% if data.isMigration %}
                                <p>Migration: Y </p>
                                {% endif %}
								{% if data.isManagedCloud %}
                                <p>Managed Cloud: Y </p>
                                {% endif %}
								{% if data.isEnablement %}
                                <p>Enablement: Y </p>
                                {% endif %}
								{% if data.isUserResearch %}
                                <p>User Research: Y </p>
                                {% endif %}								
                            </section>
                        </div>
                    </td>
                </tr>
		    </table>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">Project overall Health&nbsp;<a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-health">update health status</a></h2>
      </div>
      <div class="column-two-thirds">
          <span class="health-block bold-xlarge {{ data.health.overall.status | lower }}"><a href="/projects/{{ data.id }}/{{ data.name | slugify }}/display-health">{{ data.health.overall.status | title }}</a>&nbsp;<a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/display-health">view details</a>
          <p class="font-medium">{{ data.health.overall.comment }}</p></span>
      </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">Useful Links&nbsp;<a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-resources">edit</i></a></h3>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
          {% if data["resources"].length > 0 %}
              <table>
                  {% for resource in data["resources"] %}
                  <tr>
                      <td><a href="{{ resource['url'] }}" target="_blank">{{ resource["name"] }} </a></td>
                  </tr>
                  {% endfor %}
                </table>
          {% else %}
          <p>We don't have any links for this project.</p>
          {% endif %}
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h2 class="heading-large">People</h3>
        </div>
    </div>
    <div class="grid-row">
        <!--MACRO FOR PEOPLE TABLE-->
        {% macro peopleTable(peopleData, teamName) %}
        <div>
            {% if peopleData %}
            <table>
                <thead>
                    <tr>
                        <th>Role</th>
                        <th>Name</th>
                        <th>
                            <!-- column for "more" buttons -->
                        </th>
                    </tr>
                </thead>
                {% for teamMember in peopleData %}
                <tr>
                    <td>{{ teamMember.role}}</td>
                    <td>{{ teamMember.name }}</td>
                    <td data-collapsable-parent="{{ teamName + loop.index }}" class="clickable"><i class="fa fa-plus-square-o" aria-hidden="true"></i></td>
                </tr>
                <tr>
                    <td data-collapsable-child="{{ teamName + loop.index }}" colspan="3">
                        <div class="grid-row">
                            <section class="column-half">
                                {% if teamMember.primaryLocation %}
                                <p>Primary location: {{ teamMember.primaryLocation }} </p>
                                {% endif %} {% if teamMember.secondaryLocation %}
                                <p>Secondary location: {{ teamMember.secondaryLocation}} </p>
                                {% endif %}
                            </section>
                            <section class="column-half">
                                {% if teamMember.email %}
                                <p>Email: <a href="mailto:{{ teamMember.email }}">{{ teamMember.email }}</a></p>
                                {% endif %} {% if teamMember.mobile %}
                                <p>Phone num: {{ teamMember.mobile}} </p>
                                {% endif %} {% if teamMember.slack %}
                                <p>Slack: {{ teamMember.slack}} </p>
                                {% endif %} {% if teamMember.skype %}
                                <p>Skype: {{ teamMember.skype }} </p>
                                {% endif %}
                            </section>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        {% endmacro %}
        <!--MACRO FOR PEOPLE TABLE-->
        <section class="column-half">
            <p class="font-medium">Our team <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-our-team">edit</a></p>
            {{ peopleTable(data["ourTeam"], "Kainos") }}
            <p></p>
        </section>
        <section class="column-half">
            <p class="font-medium">Client team <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-client-team">edit</a></p>
            {{ peopleTable(data["clientTeam"], "Client") }}
            <p></p>
        </section>
    </div>

    <div class="grid-row">
        <section class="column-third">
            <h2 class="heading-large">Project history <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-phase-history">edit</a></h2>
            <div class="phase-history">
                {% for phase in phase_order %} {% if data.phaseHistory[phase] %}
                <div class="phase-history-item border-{{phase}} txt-{{phase}}">
                    <h3><a href="#" class="tag tag-history {{phase}}">{{ phase }}</a></h3>
                    {% for label, item in data.phaseHistory[phase] | dictsort | reverse %}
                        <p>
                            {{ label }} &mdash; {{ item.month }} {{ item.year }}
                            <button class="clickable" onclick="removeFromHistory('{{ phase }}', '{{ label }}')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </p>
                    {% endfor %}
                </div>
                {% endif %} {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %}
{% block body_end %}
    {{ super() }}
    <script>
        function removeFromHistory(phase, label) {
            if(confirm("Delete the '" + label + "' entry in the " + phase + " phase?")) {
                $.ajax({
                        type: "DELETE",
                        url: '/api/projects/{{ data.id }}/phase-history',
                        contentType: "application/json",
                        data: JSON.stringify({phase: phase, label: label})
                    })
                    .done(function(response) {
                        //alert(JSON.stringify(response.messages[0]));
                        location.reload();
                    })
                    .fail(function(jqXHR) {
                        //alert('There was an error removing an entry from project history. ' + jqXHR.responseText);
                });
            }
        }
    </script>
{% endblock %}
