{% extends "layout.html" %} {% block content %}
<main id="content" role="main">
    <div class="grid-row">
        <section class="column-two-thirds">
            <h1 class="font-xlarge">{{ data.name }}</h1>
            <p class="location font-xsmall">{{ data.location }}</p>
            {% if data.isFinished %}
                <p class="health good font-xsmall" title="This project was finished">
                    <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                    Finished
                </p>
            {% endif %}
            <p><a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit">Change details</a> <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/display-health">Change health</a></p>
            <p>{{ data.description }}</p>
        </section>
        <section class="column-third">
            <p class="phase {{ data.phase | lower }}">phase <strong>{{ data.phase | title }}</strong></p>
            <p class="health {{ data.health.overall.status | lower }}">health <strong>{{ data.health.overall.status | title }}</strong></p>
            {% if data.customer %}
                <div class="customer">
                    <h2 class="font-medium">Customer</h2>
                    <p>{{ data.customer }}</p>
                </div>
            {% endif %}
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <h2 class="font-large">Useful Links</h2>
            <p>
                {% if data["resources"].length > 0 %}
                <ul class="link-list">
                    {% for resource in data["resources"] %}
                    <li><a href="{{ resource['url'] }}">{{ resource["name"] }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <ul class="link-list">
                    <li>We don't have any links for this project.</li>
                </ul>
                {% endif %}
            </p>
            <p class="font-xsmall"> <a href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-resources">Change links</a></p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-two-thirds">
            <h2 class="font-large">People</h2>
        </section>
    </div>
    <div class="grid-row">
        <!--MACRO FOR PEOPLE TABLE-->
        {% macro peopleTable(peopleData, teamName) %}
        <div>
            {% if peopleData %}
            <table>
                <thead>
                    <tr>
                        <td>Role</td>
                        <td>Name</td>
                        <td>
                            <!-- column for "more" buttons -->
                        </td>
                    </tr>
                </thead>
                {% for teamMember in peopleData %}
                <tr>
                    <td>{{ teamMember.role}}</td>
                    <td>{{ teamMember.name }}</td>
                    <td data-collapsable-parent="{{ teamName + loop.index }}" class="clickable">[+]</td>
                </tr>
                <tr>
                    <td data-collapsable-child="{{ teamName + loop.index }}" colspan="3">
                        <div class="grid-row">
                            <section class="column-half">
                                {% if teamMember.primaryLocation %}
                                <p>Primary location: {{ teamMember.primaryLocation }} </p>
                                {% endif %} {% if teamMember.secondaryLocation %}
                                <p>Secondary location: {{ teamMember.secondaryLocation}} </p>
                                {% endif %}
                            </section>
                            <section class="column-half">
                                {% if teamMember.email %}
                                <p>Email: <a href="mailto:{{ teamMember.email }}">{{ teamMember.email }}</a></p>
                                {% endif %} {% if teamMember.mobile %}
                                <p>Phone num: {{ teamMember.mobile}} </p>
                                {% endif %} {% if teamMember.slack %}
                                <p>Slack: {{ teamMember.slack}} </p>
                                {% endif %} {% if teamMember.skype %}
                                <p>Skype: {{ teamMember.skype }} </p>
                                {% endif %}
                            </section>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
        {% endmacro %}
        <!--MACRO FOR PEOPLE TABLE-->
        <section class="column-half">
            <p class="font-medium">Our team <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-our-team">Change team members</a></p>
            {{ peopleTable(data["ourTeam"], "Kainos") }}
            <p></p>
        </section>
        <section class="column-half">
            <p class="font-medium">Client team <a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-client-team">Change team members</a></p>
            {{ peopleTable(data["clientTeam"], "Client") }}
            <p></p>
        </section>
    </div>
    <div class="grid-row">
        <section class="column-third">
            <h2 class="font-large">Project history</h2>
            <p><a class="font-xsmall" href="/projects/{{ data.id }}/{{ data.name | slugify }}/edit-phase-history">Manage project history</a></p>
            <div class="phase-history">
                {% for phase in phase_order %} {% if data.phaseHistory[phase] %}
                <div class="phase-history-item border-{{phase}} txt-{{phase}}">
                    <h3><a href="#" class="tag tag-history {{phase}}">{{ phase }}</a></h3> 
                    {% for label, item in data.phaseHistory[phase] | dictsort | reverse %}
                        <p>
                            {{ label }} &mdash; {{ item.month }} {{ item.year }}
                            <button class="clickable" onclick="removeFromHistory('{{ phase }}', '{{ label }}')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </p>
                    {% endfor %}
                </div>
                {% endif %} {% endfor %}
            </div>
        </section>
    </div>
</main>
{% endblock %} 
{% block body_end %} 
    {{ super() }}
    <script>
        function removeFromHistory(phase, label) {
            if(confirm("Delete the '" + label + "' entry in the " + phase + " phase?")) {
                $.ajax({
                        type: "DELETE",
                        url: '/api/projects/{{ data.id }}/phase-history',
                        contentType: "application/json",
                        data: JSON.stringify({phase: phase, label: label})
                    })
                    .done(function(response) {
                        alert(JSON.stringify(response.messages[0]));
                        location.reload();
                    })
                    .fail(function(jqXHR) {
                        alert('There was an error removing an entry from project history. ' + jqXHR.responseText);
                });
            }
        }
    </script>
{% endblock %}
